# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*Cache*
*srv_gen*
*make_install*

*.project
*.cproject
*pyc
*bin/*
*CMakeFiles/*
*.png
*.xml

*~*

